/*CSS*/

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/*MEDIAS QUERIES */


.texto {
    color:bisque;
}


/*DE 0 PX A 600 PX SE APLICA LO SIGUIENTE: */

@media (max-width: 600px) {
    

    .texto {
        color: blanchedalmond;
    }

}

/* VISTA TABLET */

@media (min-width: 601px) and (max-width:900px) {
    

    .texto{
        color: black;
    }
}
/* VISTA compu */
@media (min-width: 901px) and (max-width:1200px) {
    

    .texto{
        color: brown;
    }
}




nav {
    text-align: center;
    background-color: rgb(177, 177, 136);
}



.imagen {
    text-align: center;
}

p {
    text-align: center;
}

.redes {
    text-align: center;
}



h3 {
    text-align: center;
}

li{
    display: inline;
}

/*FORMULARIO*/
form {
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    border: solid 2px black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    color: bisque;
}

h2 {
    color: burlywood;
}

a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    
}

